* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e2e8f0;
  border-top: rgb(57, 145, 57) 2em solid;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #666666;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.links {
  display: flex;
  margin-left: 25em;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

#my_shop {
  opacity: 0.6;
  transition: 0.3s;
  color: rgb(255, 255, 255);
  /* height: 2vw; */
  background-color: rgb(57, 145, 57);
  cursor: pointer;
  outline: none;
  border: none;
  margin-right: auto;
  margin-left: 5em;
  border-radius: 4em;
  padding: 1em 2em;
}
#my_shop:hover {
  opacity: 1;
  background-color: rgb(249, 196, 51);
  color: black;
}

@media only screen and (max-width: 768px) {
  .nav-menu:before {
    content: "\2630";
    font-size: 5em;
    position: absolute;
    left: 1em;
  }
  .nav-logo-img {
    padding-right: 3em;
  }
  .nav-item {
    display: none;
    justify-content: space-around;
  }
  #my_shop {
    display: none;
  }
}
