.container_first,
.container_first_txt,
.second_set {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.second_set {
  margin-left: 12vw;
  margin-right: 12vw;
}
.hamrahan_txt {
  display: flex;
  justify-content: center;
  padding: 5vw;
}
.second_section {
  background-color: rgb(226, 226, 226);
  margin-bottom: 12vw;
}
